*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --text: aliceblue;
    --bground : #333333;
}

.bground{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/public/images/hotel.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    object-fit: cover;
}
header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color:var(--text);
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 3px 15px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
}
nav ul li a{
    color:rgb(15, 15, 14);
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
}
.sec{
    color: var(--text);
    text-align: left;
    margin-top: 20px;
    padding: 20px;
    width: 60%;
    font-size: 20px;
    line-height: 1.5;
    padding-left:70px;
    background-color: rgba(0, 0, 0, 0.2);
}
.sec h3{
    text-align: center;
}

@media screen and (min-width: 800px){
    

.bar{
    display: none;
}

body{
        padding:0 10px
    }
    

nav ul li:hover{
    transform: scale(1.1)
}

input[type='search']{
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}
.search{
    cursor: pointer;
}
.hotel-featured{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 18px;
    text-align: center;
    text-wrap: wrap;
    justify-content: space-around;
    row-gap: 1rem;
}
.hotel-featured li{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border: none;
}
.hotel-featured li:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.section{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    line-height: 1.6;

}
.section h3{
    text-align: center;
}
.hotel-featured li i{
    font-size: 40px;
}


/* footer */
footer{
    display: flex;
    background-color:var(--bground);
    justify-content: space-around;
    color: var(--text);
    padding: 20px 0;
}
.footer-links{
    display: flex;
}
.footer-links li {
    list-style: none;
    padding: 0 20px;
}
.footer-links li a{
    color: var(--text);
    text-decoration: none;

}
}

@media screen and (max-width:790px){
    .nav{
        display: none;
        list-style: none;
    }
    body{
        padding:0
    }
    input[type='search']{
        display: none;
    }
    .search{
      display: none;
    }
    .bar{
        display: block;
        padding:8px;
        
    }

    .bar1{
        display: block;
        width:30px;
        height: 3px;
      background: var(--text);
    }
    .bar2{
        display: block;
        width:30px;
        height: 3px;
       background:var(--text);
       margin: 5px 0;
    }
    .bar3{
        display: block;
        width:30px;
        height: 3px;
       background: var(--text);
    }

    .bar.active .bar1{
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: 0.3s ease-in-out;
        background-color: var(--text)
    }
    .bar.active .bar3{
       transform: rotate(45deg) translate(-5px, -6px);
       transition: 0.3s ease-in-out;
       background-color: var(--text);
    }
    .bar.active .bar2{
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
   .nav.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px;
    line-height: 3.5;
    transition: 0.5s ease-in; 
    background: rgba(51, 51, 51, 0.6);
    backdrop-filter: blur(10px);
    text-align: left;
    height: 100vh;

}

.sec{
    color: var(--text);
    text-align: left;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
}

.hotel-featured{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   font-size: 18px;
}
.hotel-featured li{
    display: flex;
    padding: 20px;
    border-radius: 20px;
    border: none;
}
.section{
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    line-height: 1.6;
    text-wrap: wrap;

}
.section h3{
    text-align: center;
}
.hotel-featured li i{
    font-size: 40px;
    padding-right: 10px;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    background-color:#333333;
    justify-content: center;
    color: aliceblue;
    padding: 20px 0;
    line-height: 2;
    text-align: center;
}
.footer-links{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    
}
.footer-links li {
    list-style: none;
    padding: 0 20px;
}
.footer-links li a{
    color: aliceblue;
    text-decoration: none;

}

}
